body {
  background-color: #333;
}
.container {
  max-width: 460px;
  margin: 0 auto;
  text-align: center;
}
button {
  width: 55%;
  margin-block: 20px;
  background-color: yellow;
  padding: 5px;
  font-size: 0.8rem;
}
@media only screen and (min-width: 481px) {
  .container {
    max-width: 700px;
  }
  button {
    width: 45%;
    margin-block: 20px;
    background-color: blue;
    padding: 5px;
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
  button {
    width: 20%;
    margin-block: 20px;
    background-color: red;
    padding: 5px;
    font-size: 1.7rem;
  }
}
