/* 
DOCU: Base styles

Owner: Wendell
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #0276CF;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/assets/images/bg/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* 
DOCU: Style for partials/header view

Owner: Wendell
*/
header{
    background-color: #4BB3FD;
    padding-top: 5px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 5px 0px black;

    nav{
        width: 1200px;
        margin: 0 auto;
        
        p{
            font-size: 2.5rem;
            margin-left: 20px;
            display: inline-block;
            vertical-align: top;
            margin-top: 23px;
        }
    }

    a{
        text-decoration: none;
        color: white;
    }

    ul{
        list-style: none;
        display: flex;
        margin-top: 5px;
        margin-bottom: 15px;
        gap: 15px;
        justify-content: center;

        .logout_button{
            color: black;
            margin-left: 900px;
        }
    }

    div{
        display: flex;
        justify-content: space-between;
        align-items: center;

        img{
            height: 40px;
        }

        form{
            width: 75%;
            background-color: #333;
            display: flex;

            input[type="text"]{
                width: 95%;
                padding: 10px;
            }

            button{
                width: 5%;
                padding: 10px;
                cursor: pointer;
            }
        }

        a{
            position: relative;

            i{
                font-size: 1.5rem;
                margin-right: 40px;
            }

            span{
                position: absolute;
                top: -5px;
                left: 20px;
                background-color: #EE4D2D;
                color: white;
                padding: 1px 3px 0px 2px;
                border-radius: 2px;
                border: 1px solid #4BB3FD;
                font-size: 0.8rem;
            }
        }
    }
}

/* 
DOCU: Style for partials/footer view

Owner: Wendell
*/
footer{
    padding-block: 30px;
    background-color: #4BB3FD;
    box-shadow: 0px 0px 5px 0px black;
    text-align: center;

    ul{
        display: flex;
        justify-content: center;
        gap: 5px;
        font-size: .9rem;
    }

    li{
        list-style: none;
        border-right: 1px solid black;
        padding-right: 5px;
    }
    
    a{
        text-decoration: none;
        color: white;
    }

    p{
        margin-top: 5px;
    }
}

/* 
DOCU: Style for the views with forms

Owner: Wendell
*/
.form_container{
    background-color: white;
    padding: 15px 20px;
    border-radius: 3px;
    width: 400px;
    margin: 40px auto;
    box-shadow: 0px 0px 5px 0px black;

    p{
        margin-bottom: 20px;
        font-size: 1.4rem;
        font-weight: bold;
    }

    form{
        display: flex;
        flex-direction: column;

        input, label, textarea{
            margin-bottom: 5px;
        }

        input , textarea{
            padding: 5px;

            &[type='submit']{
                background-color: #4BB3FD;
                cursor: pointer;
                border: 1px solid black;
                color: white;
                border-radius: 2px;
                margin-top: 5px;
                padding: 5px;
                margin-bottom: 15px;
                font-weight: bold;
            }

            &:focus{
                outline: none;
            }
        }
    }

    .form_redirect{
        text-align: center;
        font-size: .9rem;
        color: #4BB3FD;

        a{
            text-decoration: none;
            color: black;
        }
    }
}

/* 
DOCU: Style for products/dashboard_admin and products/dashboard view

Owner: Wendell
*/
.dashboard_title{
    width: 1100px;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00487C;
    padding: 20px;
    border-radius: 5px;

    p{
        font-size: 1.4rem;
        font-weight: bold;
        color: white;
    }

    a{
        padding: 5px 10px;
        background-color: #4BB3FD;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        color: white;
        box-shadow: 3px 3px 0px 0px #0496FF;
    }
}

.products_table{
    width: 1100px;
    margin: 0px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #00487C;
    margin-bottom: 40px;

    div{
        display: flex;
        background-color: #4BB3FD;
        margin-bottom: 3px;
        padding: 2px;

        p{
            width: calc(44%/3);
            overflow-wrap: break-word;
        }

        a{
            color: white;
            text-decoration: none;
        }

        .id_section{
            width: 6%;
        }

        .name_section{
            width: 50%;
        }

        &.bg_row_0{
            background-color: #0496FF;
        }
    }

    .product_header{
        font-weight: bold;
        font-size: 1.1rem;
        color: white;
        background-color: #00487C;
    }
}

/* 
DOCU: Style for products/show view

Owner: Wendell
*/
.product_showcase{
    padding: 20px;
    background-color: #4BB3FD;
    border-radius: 3px;
    width: 800px;
    margin: 40px auto;
    box-shadow: 0px 0px 5px 0px black;

    p{
        margin-bottom: 10px;
        font-size: .95rem;
    }

    p span{
        display: block;
        font-size: 1rem;
        color: #444;
    }

    .review_section_title{
        font-size: 1.2rem;
        margin-top: 20px;
        font-weight: bold;
    }

    form{
        margin-bottom: 10px;
    }

    textarea{
        border-radius: 3px;
        border: 1px solid black;
    }

    .review_textbox{
        width: 100%;
        height: 4rem;
        padding: 5px;
        margin-top: 5px;
    }

    input{
        padding: 3px;
        box-shadow: 3px 3px 0px 0px #0496FF;
        margin-left: auto;
        display: block;
        cursor: pointer;
    }

    .review_container{
        border: 1px solid black;
        padding: 5px;
        border-radius: 3px;
        margin-bottom: 10px;

        div{
            display: flex;
            justify-content: space-between;
            color: black;
            font-weight: bold;
            margin-bottom: 5px;

            span{
                font-style: italic;
                color: #444;
                font-size: .9rem;
            }
        }

        p{
            font-size: .9rem;
            margin: 0;
        }

        .reply_container{
            border: 1px solid black;
            padding: 5px;
            border-radius: 3px;
            width: 90%;
            margin-left: auto;
            margin-top: 10px;
            display: block;

            div{
                display: flex;
                justify-content: space-between;
                color: black;
                font-weight: bold;
                margin-bottom: 5px;

                span{
                    font-style: italic;
                    color: #444;
                    font-size: .9rem;
                }
            }

            p{
                font-size: .9rem;
                margin: 0;
                display: block;
                color: black;
                font-weight: normal;
            }
        }

        .reply_textbox{
            width: 90%;
            display: block;
            margin-left: auto;
            height: 2rem;
            padding: 5px;
            margin-block: 10px;
        }
    }
}

/* 
DOCU: Style for users/profile view

Owner: Wendell
*/
.profile_info{
    padding: 20px;
    background-color: #4BB3FD;
    border-radius: 3px;
    width: 400px;
    margin: 40px auto;
    box-shadow: 0px 0px 5px 0px black;
    font-style: italic;

    i{
        font-size: 100px;
        width: 125px;
        aspect-ratio: 1/1;
        background-color: #00487C;
        color: white;
        display: block;
        text-align: center;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 100vh;
    }

    span{
        width: 120px;
        display: inline-block;
        color: #444;
        font-style: normal;
    }
}

/* 
DOCU: Style for users/edit view

Owner: Wendell
*/
.edit_form_container{
    width: 840px;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;

    form{
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 15px 20px;
        border-radius: 3px;
        width: 400px;
        box-shadow: 0px 0px 5px 0px black;
        align-self: flex-start;

        input, label{
            margin-bottom: 5px;
        }

        input{
            padding: 5px;

            &[type='submit']{
                background-color: #4BB3FD;
                cursor: pointer;
                border: 1px solid black;
                color: white;
                border-radius: 2px;
                margin-top: 5px;
                padding: 5px;
                font-weight: bold;
            }
        }
    }
}

/* 
DOCU: Style for javascript form validations and
PHP validation_errors()

Owner: Wendell
*/
form{
    .success{
        background-color: #6BBF59;
        border-radius: 2px;
    }

    .fail{
        background-color: #D81E5B;
        color: white;
        border-radius: 2px;
    }
}

.validation_errors{
    text-align: center;
    color: #D81E5B;
    font-weight: bold;
}

.register_success{
    text-align: center;
    color: #08A045;
    font-weight: bold;
}