*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #027BCE;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

form{
    width: 25%;
    background-color: #4BB3FD;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 5px;
    padding: 20px;
    align-self: flex-start;

    .search_title{
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;

    }

    .sub_title{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 1.1rem;
        font-weight: bold;
    }

    .name_filter{
        width: 100%;
    }

    input{
        padding: 3px;
        width: 10%;
        display: inline-block;
    }

    label{
        width: 80%;
        display: inline-block;
    }

    .submit_button{
        width: 100%;
        box-shadow: 3px 3px 0px 0px #00487C;
        cursor: pointer;
        margin-top: 10px;
    }
}

.players_section{
    width: 75%;
    background-color: #4BB3FD;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-self: flex-start;

    .player_card{
        width: calc(20% - 8px);
        background-color: #0496FF;
        box-shadow: 0px 0px 3px 0px black;
        border-radius: 5px;
        padding: 10px;
        
        img{
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 5px;
        }

        p{
            text-align: center;
            overflow-wrap: break-word;
            margin-bottom: 5px;
        }

        .sports_played{
            font-size: .8rem;
            color: white;
        }
    }
}