<div class="error"></div>

<form action="/login" id="login_form" method="POST" data-is-processing="0">  
	<h1 class="title">Login</h1>

	<label for="email">Email address:</label>
	<input type="text" name="email" id="email">

	<label for="password">Password:</label>
	<input type="password" name="password" id="password">

	<input type="submit" value="Signin" id="login_button">
	<a href="./register.html">Don't have an account? Register</a>
</form>