<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <a href="/awards/1"><img src="/images/1.jpg"></a>
        <a href="/awards/2"><img src="/images/2.jpg"></a>
        <a href="/awards/3"><img src="/images/3.jpg"></a>
    </body>
</html>