<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Color Theme</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
        <link rel="stylesheet" href="/stylesheet/style.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/script.js"></script>
    </head>
    <body>
        <button id="light_mode">light mode</button>
        <button id="random_mode">random mode</button>
        <button id="dark_mode">dark mode</button>
    </body>
</html>