*{
	box-sizing: border-box;
}

body{
	background-color: #EAEDED;
	font-family: 'Amazon Ember', sans-serif;
	background-image: url('assets/bg.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0px 80px;
}

header{
	background-color: #131921;
	padding: 10px;

	.header_search_container{
		width: 1300px;
		margin: 0 auto;
		font-size: 0;
	}

	a{
		color: white;
		text-decoration: none;
		font-size: 1rem;
		margin-left: 15px;
		
		span{
			font-size: .9rem;
			font-weight: 300;
			display: block;
		}

		i{
			font-size: .6rem;
		}
	}

	.header_logo{
		margin-left: 0;
		display: inline-block;

		img{
			height: 30px;
		}
	}

	.deliver_to{
		display: inline-block;
		margin-right: 20px;
	}

	form{
		display: inline-block;
		width: 53%;
		font-size: 0;

		select{
			width: 8%;
			font-size: 1rem;
			padding-block: 9px;
			padding-left: 5px;
			background-color: #F3F3F3;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			color: #444;
		}

		input{
			width: 86%;
			padding: 10px;
			font-size: 1rem;
			border: nonne;
		}

		button{
			font-size: 1rem;
			padding: 12px;
			background-color: #FEBD69;
			border: none;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			cursor: pointer;
		}
	}

	.cart img{
		height: 30px;
	}
}

nav{
	background-color: #232F3E;
	padding: 10px;
	font-weight: 300;

	.nav_container{
		width: 1300px;
		margin: 0 auto;
		font-size: 0;

		ul{
			padding: 0;
		}
		
		li{
			display: inline-block;
		}

		a{
			color: white;
			text-decoration: none;
			font-size: 1rem;
			margin-left: 15px;

			&.highlight{
				font-weight: 400;
			}

			&.highlight_message{
				font-weight: 400;
				margin-left: 573px;
			}
		}
	}
}

main{
	width: 1300px;
	margin: 0 auto;
	margin-top: 210px;
	font-size: 0;

	.content{
		width: 24%;
		background-color: white;
		padding-inline: 15px;
		padding-top: 1px;
		padding-bottom: 20px;
		display: inline-block;
		font-size: 1rem;
		margin-inline: .5%;
		margin-bottom: 60px;

		p{
			font-weight: bold;
			min-height: 35px;
		}

		img{
			width: 100%;
			aspect-ratio: 380/320;
			object-fit: cover;
			margin-bottom: 60px;
		}

		a{
			text-decoration: none;
			color: #007185;
		}
	}
}

footer{
	background-color: #131A22;
	padding-bottom: 30px;

	.white_space{
		padding-block: 10px;
		background-color: white;
	}

	ul{
		padding: 0;
		text-align: center;
	}
	
	li{
		display: inline-block;
	}

	a{
		color: white;
		text-decoration: none;
		font-size: 1rem;
		margin-left: 15px;

		&.highlight{
			font-weight: 400;
		}
	}

	p{
		color: white;
		text-align: center;
	}
}