<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cryptocurrency</title>
        <link rel="stylesheet" href="/stylesheet/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/index.js"></script>
    </head>
    <body>
        <header>
            <h1>Cryptocurrency</h1>
            <a href="/platforms">Finance Platforms</a>
            <a href="/exchanges">Exchanges</a>
        </header>
        <main>
            <ul class="container">
            </ul>
            <button id="prev">Previous 10</button>
            <button id="top100">List Top 100</button>
            <button id="next">Next 10</button>
        </main>
    </body>
</html>