<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Word Chat Game</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
        <link rel="stylesheet" href="/stylesheet/style.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="/js/script.js" defer></script>
    </head>
    <body>
        <div class="container">
            <!-- 
                Docu: Game Board
                Owner: Wendell
            -->
            <main></main>
            <!-- 
                Docu: Score Board
                Owner: Wendell
            -->
            <div class="score_board"></div>
            <!-- 
                Docu: Join Button
                Owner: Wendell
            -->
            <button>JOIN</button>
        </div>
    </body>
</html>