*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #0276CF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin-bottom: 20px;

    form{
        input , select{
            padding: 3px;
        }

        input{
            cursor: pointer;
        }
    }
}

.leave_container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #F7EE7F;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;

    div{
        width: 20%;
        border-bottom: 1px solid black;
        padding: 4px;

    }

    .table_head{
        background-color: #00487C;
        color: white;
    }
}