<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
        <link rel="stylesheet" href="/stylesheet/style.css">
    </head>
    <body>
<%_ if(login_error){ _%>
        <p class="error"><%= login_error %></p>
<%_ } _%>
        <form action="/login" method="post">
            <label>
                Email Address:
                <input type="text" name="email_address" value="went@gmail.com">
            </label>
            <label>
                Password:
                <input type="password" name="password" value="pass">
            </label>
            <input type="submit" value="Login">
        </form>
<%_ if(register_error){ _%>
        <p class="error"><%= register_error %></p>
<%_ } _%>
        <form action="/register" method="post">
            <label>
                First Name:
                <input type="text" name="first_name">
            </label>
            <label>
                Last Name:
                <input type="text" name="last_name">
            </label>
            <label>
                Email Address:
                <input type="text" name="email_address">
            </label>
            <label>
                Password:
                <input type="password" name="password">
            </label>
            <label>
                Confirm Password:
                <input type="password" name="confirm_password">
            </label>
            <input type="submit" value="Register">
        </form>
    </body>
</html>