*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("/assets/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;

    div{
        width: 450px;
        background-color: rgba(129 , 0 , 123 , .9);
        box-shadow: 0px 0px 5px 0px black;
        padding: 20px;
        backdrop-filter: blur(20px);
        border-radius: 5px;
        align-self: flex-start;
    
        p{
            font-size: 1.4rem;
            margin-bottom: 10px;
            font-weight: bold;

            &.error{
                font-size: 1rem;
                font-weight: normal;
                background-color: #C63473;
                padding: 5px;
                margin-bottom: 5px;
            }
        }

        form{
            label{
                width: 35%;
                display: inline-block;
                margin-bottom: 10px;
            }

            input{
                width: 63%;
                display: inline-block;
                padding: 3px;

                &[type="submit"]{
                    width: 40%;
                    margin-left: auto;
                    margin-right: 3px;
                    margin-top: 10px;
                    display: block;
                    box-shadow: 3px 3px 0px 0px #009E0F;
                    cursor: pointer;
                }

                &.login_submit{
                    box-shadow: 3px 3px 0px 0px #2B78E4;
                }
            }
        }
    }

    .login_form{
        background-color: rgba(219 , 71 , 1 , .9);
        backdrop-filter: blur(20px);
    }
}

header{
    text-align: center;
    margin-top: 20px;

    a{
        text-decoration: none;
        color: #FFD871;
        background-color: #C63473;
        padding: 5px;
        box-shadow: 3px 3px 0px 0px #FFD871;
    }
}

.profile_container{
    width: 800px;
    margin: 20px auto;
    background-color: rgba(129 , 0 , 123 , .9);
    box-shadow: 0px 0px 5px 0px black;
    padding: 20px;
    backdrop-filter: blur(20px);

    p{
        span{
            display: inline-block;
            width: 140px;
        }
    }
}