*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 970px;
    margin: 0 auto;
}

aside{
    width: 23%;
    display: inline-block;
    padding: 20px;
    background-color: #eee;
    height: 100vh;
    border-inline: 1px solid #bbb;
}

aside h4{
    color: #bbb;
}

aside p a{
    color: #555;
    text-decoration: none;
    margin-block: 7px;
    display: block;
}

aside p a:hover{
    color: orange;
}

.bold{
    font-weight: bold;
}

.container{
    width: 70%;
    display: inline-block;
    vertical-align: top;
    height: 100vh;
    margin-left: 6%;
    padding-top: 5px;
}

.container p{
    margin-block: 10px;
}

.container a{
    color: blue;
    text-decoration: none;
}

.highlightbox{
    padding: 5px 25px;
    border: 3px solid #eee;
    border-radius: 6px;
}